﻿@page
@model WebAPIApp_I.Pages.Movies.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movies</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movies.MovieId" class="control-label"></label>
                <input asp-for="Movies.MovieId" class="form-control" />
                <span asp-validation-for="Movies.MovieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movies.Name" class="control-label"></label>
                <input asp-for="Movies.Name" class="form-control" />
                <span asp-validation-for="Movies.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movies.Yearofrelease" class="control-label"></label>
                <input asp-for="Movies.Yearofrelease" class="form-control" />
                <span asp-validation-for="Movies.Yearofrelease" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movies.Plot" class="control-label"></label>
                <input asp-for="Movies.Plot" class="form-control" />
                <span asp-validation-for="Movies.Plot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movies.Poster" class="control-label"></label>
                <input asp-for="Movies.Poster" class="form-control" />
                <span asp-validation-for="Movies.Poster" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movies.ProducerId" class="control-label"></label>
                <select asp-for="Movies.ProducerId" class ="form-control" asp-items="ViewBag.ProducerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
