﻿@page
@model WebAPIApp_I.Pages.Movies.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Movies</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Yearofrelease)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Yearofrelease)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Plot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Plot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Poster)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Poster)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Producer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Producer.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Movies.MovieId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
