﻿@page
@model WebAPIApp_I.Pages.Movies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movies</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Yearofrelease)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Yearofrelease)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Plot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Plot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Poster)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Poster)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Producer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Producer.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Movies.MovieId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
